//Last modified 30/05/2022
"accountLinked" : [
  {
    "RelationshipToMaster": "${RelationshipToMaster}",
    "Email": "${Email}",
    "S3AuditBucket": "${S3AuditBucket}",
    "Name": "${Name}",
    "RelationshipToTooling": "${RelationshipToTooling}",
    "BillingRelationship": "vodafone",
    "Id": "${Id}",
    "BillingModel": "ecam",
    "status": "Live",
  }
]
